<div id='content'>
</div>

<script>
$(document).ready( function () {

  console.log(JNL);

  $.ajax({
    url: "/posts",
    method:"GET",
    dataType: 'json',
    success: function( resp ) {
      JNL.initialize($("#content"), resp);
    }
  });
});

</script>