<form class="post-form">
  <label>
    Title
    <input type="text" name="post[title]" value="<%= title %>">
  </label>

  <label>
    Body
    <textarea name="post[body]"><%= body %></textarea>
  </label>

  <input class="submit-edit" type="submit">
</form>
